<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <php>
        <ini name="register_argc_argv" value="false" />
    </php>
    <testsuites>
        <testsuite name="WebService Test Suite">
            <directory suffix=".php" phpVersion="5.4.0" phpVersionOperator=">=">./tests/</directory>
            <exclude>./tests/www/</exclude>
        </testsuite>
    </testsuites>
</phpunit>